# Byte-compiled / optimized / DLL files
__pycache__/

# .vscode
.vscode/

# Igorne Python Virtual Environment
venv/

# Ignore Logs
logs/

# Ignore downloads temp directory
downloads/

# Ignore history
history/

# Ignore nohup
*nohup*