# Byte-compiled / optimized / DLL files
__pycache__/

# .vscode
.vscode/

# Igorne Log Files
Logs/

# Ignore Playlist Directory
.config/Playlists/

# User file ignore
pending_downloads.txt

# Sensative .config directory items
.config/.apikey
.config/channels-to-grab.txt
.config/playlists-to-grab.txt
.config/youtube_auth.json
.config/youtube.com_cookies.txt
